.sec_Home {
    border: 2px solid gray;
    border-radius: 20px;

    width: 50vw;

    max-width: 500px;
    margin: auto;
    padding: 2rem;

    text-align: center;

    h1 {
        padding-bottom: 1rem;
        color: blue;
    }



}

.sec_Button {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
            background-color: green;
            color: white;
        }
    }
}

.sec_Text {

    article {
        background-color: rgba(167, 227, 170, 0.519);

        p {
            font-size: 2rem;
        }

        h5 {
            display: flex;
            justify-content: space-around;
            align-items: center;


        }
    }

    h3 {
        display: flex;
        justify-content: space-around;
        font-size: 1.2rem;
        flex-wrap: wrap;

        span {
            color: red;
        }
    }

    h4 {
        display: flex;
        justify-content: space-around;
        font-size: 1.1rem;
        flex-wrap: wrap;

        span {
            color: purple;
        }
    }
}


.sec_StadtSuche {

    padding-top: 2rem;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    input{
        background-color: white;

        &:focus{
            background-color: yellow;
            font-weight: bold;
            border-radius: 10px;
            padding: 10px 10px;
        }
    }

    button {
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
            background-color: rgb(54, 198, 54);
            color: white;
            scale: 1.2;
        }
    }
}